@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

* {
  font-family: "Raleway", sans-serif;
}

.app {
  max-width: 50vw;
  margin: 0 auto;
  display: relative;
}

form {
  top: 50%;
  left: 50%;
  margin-right: -50%;
  padding: 5px;
  text-align: center;
  width: 100%;

  input {
    width: 100%;
    max-width: 400px;
    text-align: center;
    height: 30px;
    font-size: 20px;
    border-radius: 5px;
    border: 2px solid #0eb1b1;
    margin: 10px;
    padding: 0 10px;

    &:focus {
      outline: none;
    }
  }
}

button {
  width: 100px;
  background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
  height: 35px;
  color: white;
  font-size: 18px;
  line-height: 35px;
  border-radius: 10px;
  border: none;

  &:hover {
    cursor: pointer;
    box-shadow: 2px 2px 2px #bbb;
  }

  &:focus {
    outline: none;
  }
}

.table {
  text-align: center;
}

table {
  width: 80%;
  border-collapse: collapse;
  margin: 30px auto;
  text-align: left;

  td {
    border-bottom: 2px solid #0eb1b1;
    padding: 4px 10px;
  }

  th {
    border-bottom: 2px solid #0eb1b1;
    padding: 6px 5px;
  }
}

.display {
  text-align: center;
  margin: 20px;

  input {
    background: white;
    cursor: pointer;
    box-shadow: none;
    border: 0;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
      color: #0eb1b1;
    }

    &:focus {
      outline: none;
    }
  }

  th,
  td {
    text-align: center;
  }

  .repo {
    max-width: 30%;
    text-align: left;
  }

  a {
    color: black;
  }
}
